	        <!--================Home Banner Area =================-->
			<section class="home_banner_area">
                    <div class="container box_1620">
                        <div class="banner_inner d-flex align-items-center">
                         <div class="banner_content">
                             <div class="media">
                                 <div class="d-flex">
                                     <img src="https://avatars2.githubusercontent.com/u/16861849?s=400&u=268b64c2fb6d62ba8b0d7a9b63d078eb900a7297&v=4" alt="">
                                 </div>
                                 <div class="media-body">
                                     <div class="personal_text">
                                         <h6>Hello Everybody, i am</h6>
                                         <h3>Jiteshwar Nishad</h3>
                                         <h4>Senior UI Developer</h4>
                                         <p>I'm a Tech Savy living in Bangalore, India. I have 6 years of experience in web and mobile based websites. I'm currently employed at Apttus where I develop HTML, CSS and JS for consumer facing applications.</p>
                                         <ul class="list basic_info">
                                             <li><a href="#"><i class="lnr lnr-calendar-full"></i> 28th April, 1989</a></li>
                                             <li><a href="#"><i class="lnr lnr-phone-handset"></i> +91 9590325564</a></li>
                                             <li><a href="#"><i class="lnr lnr-envelope"></i> jiteshnishad1989@gmail.com</a></li>
                                             <li><a href="#"><i class="lnr lnr-home"></i> Bangalore India</a></li>
                                         </ul>
                                         <ul class="list personal_social">
                                             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 </section>
             <!--================End Home Banner Area =================-->